/* 
  Tour My App Styles 
*/

#tourmyapp {
    z-index: 9999;
}

/* Need a more specific selector here to apply styles to
 * .tourmyapp if we are overriding styles set by cleanslate
 */
#tourmyapp .tourmyapp {
    background-color: white;
}

.tourmyapp {
    border: 1px solid #336699;
    color: #2e2e2e;
    width: 300px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 12px #888888;
    -moz-box-shadow: 2px 2px 12px #888888;
    -webkit-box-shadow: 2px 2px 12px #888888;
}

.tourmyapp .tourmyapp-close {
    float: right;
    margin: 10px;
    background: url("/static/images/close.png");
    width: 15px;
    height: 15px;
}

.tourmyapp .tourmyapp-content {
    padding: 10px;
    text-align: left;
}

.tourmyapp .tourmyapp-toolbar, .tourmyapp .tourmyapp-branding {
    margin-top: 5px;
    padding: 5px;

}

.tourmyapp .tourmyapp-branding{
    float:left;
    width:50px;
    height:30px;
    line-height: 10px;
}

.tourmyapp .tourmyapp-branding a{
    font-size:11px;
    text-decoration:none;
}

.tourmyapp .tourmyapp-toolbar {
    text-align: right;
    float: right;
}

.tourmyapp button {
    background-color: #336699;
    border: 1px solid #2d3032;
    color: white;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
}

.tourmyapp .tourmyapp-content > p {
    margin-top: 10px;
}

.tourmyapp-step-index{
    font-weight: bold;
    font-size: small;
}

.tourmyapp-selected {
}

.tourmyapp-overlay {
    z-index: 1000;
    background: black;
    opacity: 0.5;
}

/* Pointer styles */

.tourmyapp .tourmyapp-pointer {
    position: absolute;
    width: 0;
    height: 0;
    left: 135px;
    border-color: white;
}

.tourmyapp .tourmyapp-pointer-top {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top-width: 15px;
    border-top-style: solid;
}

.tourmyapp .tourmyapp-pointer-bottom {
    top: -14px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom-width: 15px;
    border-bottom-style: solid;
}

.tourmyapp .tourmyapp-pointer-left {
    left: 260px;
}

.tourmyapp .tourmyapp-pointer-right {
    left: 10px;
}

.tourmyapp .tourmyapp-pointer-center.tourmyapp-pointer-left {
    left:301px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left-width: 15px;
    border-left-style: solid;
}

.tourmyapp .tourmyapp-pointer-center.tourmyapp-pointer-right {
    left:-14px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right-width: 15px;
    border-right-style: solid;
}

/* Pointer border styles */

.tourmyapp .tourmyapp-pointer-border {
    position: absolute;
    width: 0;
    height: 0;
    left: 134px;
    border-color: #336699;
}

.tourmyapp .tourmyapp-pointer-border.tourmyapp-pointer-top {
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
}

.tourmyapp .tourmyapp-pointer-border.tourmyapp-pointer-bottom {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom-width: 16px;
}

.tourmyapp .tourmyapp-pointer-border.tourmyapp-pointer-left {
    left: 259px;
}

.tourmyapp .tourmyapp-pointer-border.tourmyapp-pointer-right {
    left: 9px;
}

.tourmyapp .tourmyapp-pointer-border.tourmyapp-pointer-center.tourmyapp-pointer-left {
    left:301px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left-width: 16px;
    border-left-style: solid;
}

.tourmyapp .tourmyapp-pointer-border.tourmyapp-pointer-center.tourmyapp-pointer-right {
    left:-15px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right-width: 16px;
    border-right-style: solid;
}

/* Default content styles */

.tourmyapp .tourmyapp-content h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
}

.tourmyapp .tourmyapp-content h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

.tourmyapp .tourmyapp-content h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
}

.tourmyapp .tourmyapp-content h4 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.tourmyapp .tourmyapp-content h5 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.tourmyapp .tourmyapp-content h6 {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}

.tourmyapp .tourmyapp-content p {
    line-height: 22px;
}

/* 
  Widget List Styles 
*/
.tourmyapp_tourlistwidget{position:fixed;z-index:7999;right:0;top:0;text-align:left;overflow:hidden;}.tourmyapp_widget_list_wrapper{position:absolute;top:0;width:0;right:0;height:100%;}.tourmyapp_tourlistwidget .tourlist_heading{border-bottom:solid 1px #a0a0a0;}.tourmyapp_widget_list_container{padding:20px;height:100%;background:#e9edee;border-left:1px solid #369;color:#369;width:260px;font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;font-size:14px;font-weight:100;overflow:scroll;}.tourmyapp_widget_list_container h2{font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;font-size:24px;font-weight:normal;}.tourmyapp_widget_list_container h3{font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;font-size:16px;font-weight:normal;margin:20px 0;}.tourmyapp_tourlistwidget ul{list-style:none;padding:0;margin-top:10px 0;font-size:16px;}.tourmyapp_tourlistwidget .tourlist .tourgroup h4{background:url('/static/images/icons/control.png') left center no-repeat;padding-left:16px;margin-top:10px;margin-bottom:0;cursor:pointer;}.tourmyapp_tourlistwidget .tourlist .tourgroup h4.tourgroup_open{background:url('/static/images/icons/control-270.png') left center no-repeat;}.tourmyapp_tourlistwidget .tourlist .touritem{background:url('/static/images/icons/arrow-000-small.png') left 3px no-repeat;padding-left:20px;margin-top:5px;}.tourmyapp_tourlistwidget a{text-decoration:none;color:#5d5d5d;}.tourmyapp_puller{margin-top:200px;float:left;cursor:pointer;z-index:8000;text-align:center;width:120px;}.tourmyapp_puller .puller_text{-webkit-transform:rotate(-90deg);-webkit-transform-origin:bottom right;-moz-transform:rotate(-90deg);-moz-transform-origin:bottom right;-o-transform:rotate(-90deg);-o-transform-transform-origin:bottom right;-ms-transform:rotate(-90deg);-ms-transform-origin:bottom right;writing-mode:tb-lr;border-width:1px;border-color:#369;border-style:solid;border-radius:5px 5px 0 0;padding:5px 5px 20px 5px;color:black;background-color:#e9edee;font-weight:bold;text-decoration:none;}.tourmyapp_puller .puller_text:nth-child(1){display:block;writing-mode:lr-tb;border-bottom-width:0;}
